body{
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    min-width: 320px;
    background-color:white;
    color:rgb(69, 65, 62);
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
}

.logo{
    width: 20%;
}

.logo img{
    width: 100%;
}
.contanier{
    max-width: 1170px;;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header-wrap {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.header-menu li{
    position: relative;
    display: inline-flex;
    color:rgb(69, 65, 62);
    margin-left: 35px;
    font-size: 16px;
    font-family: sans-serif;
    text-transform: capitalize;
    transition: 0.6s;
    margin: 0;
}

.header-menu li a{
    text-decoration: none;
    color: rgb(69, 65, 62);
    transition: 0.6s;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
     background: #ffffff;
}

.header-menu li:hover .dropmenu{
    display: block;
}

.dropmenu {
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 7px;
    width: 200px;
    z-index: 10;
    opacity: 1;
    text-decoration: none;
    text-align: center;
}

.dropmenu li{
    display: block;
    margin-bottom: 15px;
}

.header-action{
    margin-left: 75px;
    display: flex;
}

.header-login{
    width: 30px;
    margin-right: 20px;
}

.header-login img{
   width: 100%;
}

.header-search{
    width: 30px;
}

.header-search img{
    width: 100%;
}

.header-menu ul:hover li a{
    filter: blur(5px);
}

.header-menu ul:hover li a:hover{
    display: inline-block;
    font-size: 17px;
    filter: blur(0px);
}

